.editable-field {
  $hds-form-padding: 7px;

  @apply relative;
  margin-left: -$hds-form-padding;
  width: calc(100% + #{$hds-form-padding} * 2);

  textarea {
    @apply w-full;
  }

  input[role="combobox"] {
    @apply h-5;
  }

  .empty-state-text {
    @apply text-color-foreground-primary opacity-50 h-5 flex items-center;
  }

  & > .field-toggle {
    @apply p-hds-form-padding text-left rounded-hds-form-border-radius w-full cursor-text relative  border border-transparent bg-transparent;

    &:not([disabled]) {
      @apply bg-color-page-primary shadow-surface-low;
    }

    &[disabled] {
      @apply cursor-default;
    }

    &.loading {
      @apply opacity-50;
    }

    .edit-button {
      @apply pointer-events-none absolute top-[3px] right-[3px] h-7 w-7 grid place-items-center invisible rounded-[3px] bg-color-surface-faint text-color-foreground-faint shadow-surface-base;
    }

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      .edit-button {
        @apply visible;
      }
    }

    h1 {
      @apply mb-0;
    }
  }

  .loading-indicator {
    @apply absolute top-2.5 right-2;
  }
}
